/dist
.env
.env.local
.env.dev
.env.sit 
.env.uat
.env.production
.DS_Store
/uploads
/static
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache
.medusa

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

sit.json
uat.json
prod.json
.DS_Store

/src/scritps

.note

# local medusa plugins
yalc.lock
.yalc

k6
k6-load-test
