name: Build and Release V2

on:
  push:
    branches:
      - 'uat'

jobs:
  build-images:
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref_name == 'main' && 'production' || github.ref_name }}    

    outputs:
      utech-medusa-server-v2-image: ${{ steps.create-output.outputs.utech-medusa-server-v2-image }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Get Commit Info
        id: commit-info
        run: |
          branch=${GITHUB_REF##*/}
          echo "BRANCH=${branch}" >> $GITHUB_OUTPUT
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "BRANCH_UPPERCASE=${branch^^}" >> $GITHUB_OUTPUT

      - name: Build & Push Image to ECR
        uses: docker://ghcr.io/kciter/aws-ecr-action:latest
        with:
          access_key_id: ${{ secrets.AWS_KEY }}
          secret_access_key:  ${{ secrets.AWS_SECRET_KEY }}
          account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          repo: utech-medusa-server-v2
          region: ap-southeast-1
          tags: ${{ steps.commit-info.outputs.BRANCH }}-${{ steps.commit-info.outputs.SHORT_SHA }}
          create_repo: true
          set_repo_policy: false
          dockerfile: ./Dockerfile
          path: . 
          extra_build_args: --build-arg MEDUSA_BACKEND_URL=${{ secrets.MEDUSA_BACKEND_URL }}

      - name: Image output
        id: create-output
        run: |
          echo "utech-medusa-server-v2-image=utech-medusa-server-v2:${{ steps.commit-info.outputs.BRANCH }}-${{ steps.commit-info.outputs.SHORT_SHA }}" >> $GITHUB_OUTPUT

  release:
    needs: build-images  
    runs-on: ubuntu-latest

    environment:
      name: ${{ github.ref_name == 'main' && 'production' || github.ref_name }}  
    
    steps:
      - name: Deploy to UAT
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key.pem
          chmod 400 "private_key.pem"

          SERVER_IMAGE="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.ap-southeast-1.amazonaws.com/${{ needs.build-images.outputs.utech-medusa-server-v2-image }}"
          ADMIN_CORS="${{ secrets.ADMIN_CORS }}"
          AUTH_CORS="${{ secrets.AUTH_CORS }}"
          AWS_SNS_ACCESS_KEY_ID="${{ secrets.AWS_SNS_ACCESS_KEY_ID }}"
          AWS_SNS_REGION="${{ secrets.AWS_SNS_REGION }}"
          AWS_SNS_SECRET_ACCESS_KEY="${{ secrets.AWS_SNS_SECRET_ACCESS_KEY }}"
          COOKIE_SECRET="${{ secrets.COOKIE_SECRET }}"
          DATABASE_POOL_MAX="${{ secrets.DATABASE_POOL_MAX }}"
          DATABASE_URL="${{ secrets.DATABASE_URL }}"
          FULFILLMENT_TRACKING_ACCOUNT="${{ secrets.FULFILLMENT_TRACKING_ACCOUNT }}"
          FULFILLMENT_TRACKING_INFO_URL="${{ secrets.FULFILLMENT_TRACKING_INFO_URL }}"
          FULFILLMENT_TRACKING_LOGIN_URL="${{ secrets.FULFILLMENT_TRACKING_LOGIN_URL }}"
          GOOGLE_CALLBACK_URL="${{ secrets.GOOGLE_CALLBACK_URL }}"
          GOOGLE_CLIENT_ID="${{ secrets.GOOGLE_CLIENT_ID }}"
          GOOGLE_CLIENT_SECRET="${{ secrets.GOOGLE_CLIENT_SECRET }}"
          JWT_SECRET="${{ secrets.JWT_SECRET }}"
          MAGENTO_ACCESS_TOKEN="${{ secrets.MAGENTO_ACCESS_TOKEN }}"
          MAGENTO_BASE_URL_API="${{ secrets.MAGENTO_BASE_URL_API }}"
          MEDUSA_BACKEND_URL="${{ secrets.MEDUSA_BACKEND_URL }}"
          MEDUSA_DEFAULT_LOCALE="${{ secrets.MEDUSA_DEFAULT_LOCALE }}"
          MEDUSA_FRONTEND_REVALIDATE_SECRET="${{ secrets.MEDUSA_FRONTEND_REVALIDATE_SECRET }}"
          MEDUSA_FRONTEND_URL="${{ secrets.MEDUSA_FRONTEND_URL }}"
          MEILISEARCH_ADMIN_API_KEY="${{ secrets.MEILISEARCH_ADMIN_API_KEY }}"
          MEILISEARCH_URL="${{ secrets.MEILISEARCH_URL }}"
          NODE_ENV="${{ secrets.NODE_ENV }}"
          PAYMENT_2C2P_API_URL="${{ secrets.PAYMENT_2C2P_API_URL }}"
          PAYMENT_2C2P_MERCHANT_ID="${{ secrets.PAYMENT_2C2P_MERCHANT_ID }}"
          PAYMENT_2C2P_MERCHANT_SECRET_KEY="${{ secrets.PAYMENT_2C2P_MERCHANT_SECRET_KEY }}"
          POSTGRES_URL="${{ secrets.POSTGRES_URL }}"
          REDIS_URL="${{ secrets.REDIS_URL }}"
          S3_ACCESS_KEY_ID="${{ secrets.S3_ACCESS_KEY_ID }}"
          S3_BUCKET="${{ secrets.S3_BUCKET }}"
          S3_ENDPOINT="${{ secrets.S3_ENDPOINT }}"
          S3_FILE_URL="${{ secrets.S3_FILE_URL }}"
          S3_REGION="${{ secrets.S3_REGION }}"
          S3_SECRET_ACCESS_KEY="${{ secrets.S3_SECRET_ACCESS_KEY }}"
          SENDGRID_API_KEY="${{ secrets.SENDGRID_API_KEY }}"
          SENDGRID_CUSTOMER_CREATED="${{ secrets.SENDGRID_CUSTOMER_CREATED }}"
          SENDGRID_FORGOT_PASSWORD_ID="${{ secrets.SENDGRID_FORGOT_PASSWORD_ID }}"
          SENDGRID_FROM="${{ secrets.SENDGRID_FROM }}"
          SENDGRID_ORDER_CANCELED_ID="${{ secrets.SENDGRID_ORDER_CANCELED_ID }}"
          SENDGRID_ORDER_CONFIRMED_ID="${{ secrets.SENDGRID_ORDER_CONFIRMED_ID }}"
          SENDGRID_ORDER_PACKED_ID="${{ secrets.SENDGRID_ORDER_PACKED_ID }}"
          SENDGRID_ORDER_PLACED_ID="${{ secrets.SENDGRID_ORDER_PLACED_ID }}"
          SENDGRID_ORDER_SHIPPED_ID="${{ secrets.SENDGRID_ORDER_SHIPPED_ID }}"
          SENDGRID_PASSWORD_RESET_ID="${{ secrets.SENDGRID_PASSWORD_RESET_ID }}"
          SENDGRID_PRE_ORDER_CONFIRMED_ID="${{ secrets.SENDGRID_PRE_ORDER_CONFIRMED_ID }}"
          SENDGRID_PRE_ORDER_PACKED_ID="${{ secrets.SENDGRID_PRE_ORDER_PACKED_ID }}"
          SENDGRID_PRE_ORDER_PLACED_ID="${{ secrets.SENDGRID_PRE_ORDER_PLACED_ID }}"
          SENDGRID_PRE_ORDER_SHIPPED_ID="${{ secrets.SENDGRID_PRE_ORDER_SHIPPED_ID }}"
          SENDGRID_SUBSCRIBE_NEWSLETTER="${{ secrets.SENDGRID_SUBSCRIBE_NEWSLETTER }}"
          SENTRY_DSN="${{ secrets.SENTRY_DSN }}"
          STORE_CORS="${{ secrets.STORE_CORS }}"
          STRAPI_ADMIN_EMAIL="${{ secrets.STRAPI_ADMIN_EMAIL }}"
          STRAPI_SECRET="${{ secrets.STRAPI_SECRET }}"
          STRAPI_URL="${{ secrets.STRAPI_URL }}"

          ssh -o StrictHostKeyChecking=no -i "private_key.pem" ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            cd utech-uat-v2
            rm -f medusa.env
            echo "ADMIN_CORS=${ADMIN_CORS}" >> medusa.env
            echo "AUTH_CORS=${AUTH_CORS}" >> medusa.env
            echo "AWS_SNS_ACCESS_KEY_ID=${AWS_SNS_ACCESS_KEY_ID}" >> medusa.env
            echo "AWS_SNS_REGION=${AWS_SNS_REGION}" >> medusa.env
            echo "AWS_SNS_SECRET_ACCESS_KEY=${AWS_SNS_SECRET_ACCESS_KEY}" >> medusa.env
            echo "COOKIE_SECRET=${COOKIE_SECRET}" >> medusa.env
            echo "DATABASE_POOL_MAX=${DATABASE_POOL_MAX}" >> medusa.env
            echo "DATABASE_URL=${DATABASE_URL}" >> medusa.env
            echo "FULFILLMENT_TRACKING_ACCOUNT=${FULFILLMENT_TRACKING_ACCOUNT}" >> medusa.env
            echo "FULFILLMENT_TRACKING_INFO_URL=${FULFILLMENT_TRACKING_INFO_URL}" >> medusa.env
            echo "FULFILLMENT_TRACKING_LOGIN_URL=${FULFILLMENT_TRACKING_LOGIN_URL}" >> medusa.env
            echo "GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}" >> medusa.env
            echo "GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}" >> medusa.env
            echo "GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}" >> medusa.env
            echo "JWT_SECRET=${JWT_SECRET}" >> medusa.env
            echo "MAGENTO_ACCESS_TOKEN=${MAGENTO_ACCESS_TOKEN}" >> medusa.env
            echo "MAGENTO_BASE_URL_API=${MAGENTO_BASE_URL_API}" >> medusa.env
            echo "MEDUSA_BACKEND_URL=${MEDUSA_BACKEND_URL}" >> medusa.env
            echo "MEDUSA_DEFAULT_LOCALE=${MEDUSA_DEFAULT_LOCALE}" >> medusa.env
            echo "MEDUSA_FRONTEND_REVALIDATE_SECRET=${MEDUSA_FRONTEND_REVALIDATE_SECRET}" >> medusa.env
            echo "MEDUSA_FRONTEND_URL=${MEDUSA_FRONTEND_URL}" >> medusa.env
            echo "MEILISEARCH_ADMIN_API_KEY=${MEILISEARCH_ADMIN_API_KEY}" >> medusa.env
            echo "MEILISEARCH_URL=${MEILISEARCH_URL}" >> medusa.env
            echo "NODE_ENV=${NODE_ENV}" >> medusa.env
            echo "PAYMENT_2C2P_API_URL=${PAYMENT_2C2P_API_URL}" >> medusa.env
            echo "PAYMENT_2C2P_MERCHANT_ID=${PAYMENT_2C2P_MERCHANT_ID}" >> medusa.env
            echo "PAYMENT_2C2P_MERCHANT_SECRET_KEY=${PAYMENT_2C2P_MERCHANT_SECRET_KEY}" >> medusa.env
            echo "POSTGRES_URL=${POSTGRES_URL}" >> medusa.env
            echo "REDIS_URL=${REDIS_URL}" >> medusa.env
            echo "S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}" >> medusa.env
            echo "S3_BUCKET=${S3_BUCKET}" >> medusa.env
            echo "S3_ENDPOINT=${S3_ENDPOINT}" >> medusa.env
            echo "S3_FILE_URL=${S3_FILE_URL}" >> medusa.env
            echo "S3_REGION=${S3_REGION}" >> medusa.env
            echo "S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}" >> medusa.env
            echo "SENDGRID_API_KEY=${SENDGRID_API_KEY}" >> medusa.env
            echo "SENDGRID_CUSTOMER_CREATED=${SENDGRID_CUSTOMER_CREATED}" >> medusa.env
            echo "SENDGRID_FORGOT_PASSWORD_ID=${SENDGRID_FORGOT_PASSWORD_ID}" >> medusa.env
            echo "SENDGRID_FROM=${SENDGRID_FROM}" >> medusa.env
            echo "SENDGRID_ORDER_CANCELED_ID=${SENDGRID_ORDER_CANCELED_ID}" >> medusa.env
            echo "SENDGRID_ORDER_CONFIRMED_ID=${SENDGRID_ORDER_CONFIRMED_ID}" >> medusa.env
            echo "SENDGRID_ORDER_PACKED_ID=${SENDGRID_ORDER_PACKED_ID}" >> medusa.env
            echo "SENDGRID_ORDER_PLACED_ID=${SENDGRID_ORDER_PLACED_ID}" >> medusa.env
            echo "SENDGRID_ORDER_SHIPPED_ID=${SENDGRID_ORDER_SHIPPED_ID}" >> medusa.env
            echo "SENDGRID_PRE_ORDER_CONFIRMED_ID=${SENDGRID_PRE_ORDER_CONFIRMED_ID}" >> medusa.env
            echo "SENDGRID_PRE_ORDER_PACKED_ID=${SENDGRID_PRE_ORDER_PACKED_ID}" >> medusa.env
            echo "SENDGRID_PRE_ORDER_PLACED_ID=${SENDGRID_PRE_ORDER_PLACED_ID}" >> medusa.env
            echo "SENDGRID_PRE_ORDER_SHIPPED_ID=${SENDGRID_PRE_ORDER_SHIPPED_ID}" >> medusa.env
            echo "SENDGRID_SUBSCRIBE_NEWSLETTER=${SENDGRID_SUBSCRIBE_NEWSLETTER}" >> medusa.env
            echo "SENTRY_DSN=${SENTRY_DSN}" >> medusa.env
            echo "STORE_CORS=${STORE_CORS}" >> medusa.env
            echo "STRAPI_ADMIN_EMAIL=${STRAPI_ADMIN_EMAIL}" >> medusa.env
            echo "STRAPI_SECRET=${STRAPI_SECRET}" >> medusa.env
            echo "STRAPI_URL=${STRAPI_URL}" >> medusa.env
            sed -i "s|image: .*utech-medusa-server-v2:.*|image: ${SERVER_IMAGE}|" docker-compose.app.yml
            sh login_docker.sh 
            sh start_app.sh
          EOF